---
# tasks file for nginx
- name: Add pre install repo
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
    update_cache: true
  vars:
    packages:
      - gnupg2
      - ca-certificates
    # - lsb-release
    # - apt-transport-https
    # - ca-certificates
    # - gnupg-agent
    # - software-properties-common
- name: Add nginx key
  ansible.builtin.apt_key:
    url: http://nginx.org/keys/nginx_signing.key
    id: 7BD9BF62
    state: present
- name: Add nginx stable repo
  when: stable
  block:
    - name: Add nginx ubuntu stable repo
      ansible.builtin.deb822_repository:
        name: nginx
        uris: http://nginx.org/packages/ubuntu/
        suites: "{{ ansible_distribution_release }}"
        components: [nginx]
        architectures: [amd64]
        signed_by: http://nginx.org/keys/nginx_signing.key
        state: present
      when: ansible_distribution=="Ubuntu"
    - name: Add nginx debian stable repo
      ansible.builtin.deb822_repository:
        name: nginx
        uris: http://nginx.org/packages/debian/
        suites: "{{ ansible_distribution_release }}"
        components: [nginx]
        architectures: [amd64]
        signed_by: http://nginx.org/keys/nginx_signing.key
        state: present
      when: ansible_distribution=="Debian"
- name: Add nginx mainline repo
  when: not stable
  block:
    - name: Add nginx ubuntu mainline repo
      ansible.builtin.deb822_repository:
        name: nginx
        uris: http://nginx.org/packages/mainline/ubuntu/
        suites: "{{ ansible_distribution_release }}"
        components: [nginx]
        architectures: [amd64]
        signed_by: http://nginx.org/keys/nginx_signing.key
        state: present
      when: ansible_distribution=="Ubuntu"
    - name: Add nginx debian mainline repo
      ansible.builtin.deb822_repository:
        name: nginx
        uris: http://nginx.org/packages/mainline/debian/
        suites: "{{ ansible_distribution_release }}"
        components: [nginx]
        architectures: [amd64]
        signed_by: http://nginx.org/keys/nginx_signing.key
        state: present
      when: ansible_distribution=="Debian"
- name: Install packages
  ansible.builtin.apt:
    name: nginx
    state: present
- name: Create sites-available directory
  ansible.builtin.file:
    path: /etc/nginx/sites-available
    state: directory
    mode: 0755
- name: Create sites-enabled directory
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled
    state: directory
    mode: 0755
- name: Copy other config
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/nginx/conf.d/
    owner: root
    group: root
    mode: "0755"
  with_fileglob:
    - "{{ role_path }}/files/cache.conf"
    - "{{ role_path }}/files/gzip.conf"
  notify: Restart nginx
- name: Copy mime-types
  ansible.builtin.copy:
    src: "{{ role_path }}/files/mime.types"
    dest: /etc/nginx
    owner: root
    group: root
    mode: "0755"
- name: Copy nginx.conf
  ansible.builtin.copy:
    src: "{{ role_path }}/files/nginx.conf"
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: "0755"
  notify: Restart nginx
- name: Start nginx
  ansible.builtin.systemd:
    name: nginx
    state: started
    enabled: yes
- name: Check online
  ansible.builtin.wait_for:
    port: 80
    delay: 1
